<a href="https://colab.research.google.com/github/MachadoDeveloper/MachadoDeveloper/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
array = ['laranja', 'manga', 'uva', 'maça', 'pera', 'melão'] #string 
print(array)

['laranja', 'manga', 'uva', 'maça', 'pera', 'melão']

In [ ]:
numeros = [1,5,7,6,4,3,9,8,0,2]
print(numeros)

[1, 5, 7, 6, 4, 3, 9, 8, 0, 2]

In [ ]:
print(numeros[5])

3

In [ ]:
grades = np.array(numeros)
print(grades)

[1 5 7 6 4 3 9 8 0 2]

In [ ]:
print(type(grades))

<class 'numpy.ndarray'>

In [ ]:
print(type(numeros))

<class 'list'>

In [ ]:
grades.shape

(10,)

In [ ]:
for x in grades:
  print(x)

1
5
7
6
4
3
9
8
0
2

In [ ]:
print(grades[0])
print(grades[1])
print(grades[2])
print(grades[3])
print(grades[4])
print(grades[5])
print(grades[6])
print(grades[7])
print(grades[8])
print(grades[9])

1
5
7
6
4
3
9
8
0
2

In [ ]:
grades.mean()

4.5

In [ ]:
valor = 22.9
print(type(valor))

<class 'float'>

In [ ]:
notas = [np.array, nparray2]
(2,2)
(5,2)

In [ ]:
juntos = np.array([numeros,grades])

In [ ]:
print(juntos)

[[1 5 7 6 4 3 9 8 0 2]
 [1 5 7 6 4 3 9 8 0 2]]

In [ ]:
juntos[1][7] = 48

In [ ]:
print(juntos)

[[ 1  5  7  6  4  3  9  8  0  2]
 [ 1  5  7  6  4  3  9 48  0  2]]

In [ ]:
media_num = juntos[0].mean()
media_grades = juntos[1].mean()

In [ ]:
print('Average study hours: {:.2f}\nAverage grade: {:.2f}'.format(media_num, media_grades))

Average study hours: 4.50
Average grade: 8.50